* {
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
}

@media (width <=1200px) {
main section {
  font-size: 25px;
  right: 50px;
}


}



h1 {
    border-top: 30px solid black;
    position: relative;
    padding: 20px;
    background-color: hsl(277, 100%, 50%);
    font-weight: 600;
    font-size: 60px;
    color: white;
    text-shadow: black;
    font-family: sans-serif;
    text-align: center;
}
h1 span {
    top: 5px;
    font-size: 81px;
    color: white;
}


nav {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    top: 10px;
    font-size: 25px;
    height: 90%;
    width: 20%;
    left: 75%;
    float: left;
    text-align: center;
    border-radius: 10px;
    max-height: max-content;
    z-index: 1;
}

nav h3 {
    text-align: center;
    color: hsl(277, 100%, 50%);
    border-bottom: 3px solid black;
}

nav h3::after {
    position: relative;
    top: 7px;
    left: 5px;
    content: "^";
    color: black;
}

nav li {
    right: 7%;
    font-size: 80%;
    margin: 10px auto;
    position: relative;
    background-color: hsl(277, 100%, 50%);
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
}



.nav:hover {
    color: white;
    background-color: hsl(277, 100%, 70%);
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: white;
}

nav span {
    font-weight: bolder;
    text-decoration: underline;
}

.docs {
    background-color: hsl(0, 0%, 87%);
    color: black;
    list-style-type: none;
}

section {
    display: block;
    position: relative;
    width: fit-content;
    padding: 10px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 30px auto;
    background-color: hsl(0, 0%, 87%);
}

section h2 {
    color: hsl(277, 100%, 50%);
    
}

section h3 {
    font-size: 80%;
    color: hsl(0, 0%, 35%);
    text-decoration: underline;
}

section h4 {
    font-size: 70%;
    margin-top: 40px;
    padding: 10px;
    background-color: hsl(277, 100%, 50%);
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
}

section p {
   font-size: 60%;
   background-color: aliceblue;
   border-bottom: 3px solid black;
   border-right: 3px solid black;
   border-left: 3px solid black;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   padding: 10px;
}

tr,
td,
th {
    border: 1px solid black;
    padding: 10px;

}

tr {
    color: hsl(277, 100%, 50%);
    background-color: white;
}

th {
    background-color: hsl(277, 100%, 50%);
    color: white;
    font-weight: 700;
}